* {
    padding: 0px;
    margin: 0px;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

header {
    padding: 13px;
    border-bottom: 1px solid #1d1d1f;
    background-color: #000000CC;
}

header nav {
    text-align: center;
}

header nav a {
    color: #cccccc;
    font-size: 15px;
    line-height: 25px;
    margin: 20px;
    text-decoration: none;
}

header nav a:hover {
    color: white;
    transition: color 200ms;
}

h1 {
    margin-top: 30px;
    text-align: center;
}

.geral {
    text-align: center;
    margin-top: 30px;
    background-color: #1d1d1f;
}

.imagens {
    color: white;
    display: inline-block;
    margin: 30px;
    height:400px;
}

.fotos {
    margin-top: 100px;
    text-align: center;
    height: 130px;
    border-radius: 100px;
}

.footer {
    text-align: center; 
    padding: 13px;
    border-top: 1px solid #d4d4d4;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black; 
}

.footer a {
    text-decoration: none;
}