body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

.header {
    border-bottom: 2px solid orangered;
    background-color: #000000CC;
    color: white;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;

}

.navbar {
    list-style: none;
    float: right;
}

.titulo {
    padding-top: 8px;
    margin: 0px;
    float: left;
}

li {
    text-transform: uppercase;
    float: left;
    margin-left: 20px;
    font-size: 13px;

}

li:hover {
    color: orangered;
}

.projeto {
    color: orangered;
}
